<div class="w-full bg-[#f6f7f9]">
    <div class="min-h-screen bg-[#f8f9fb] px-4 py-6 md:px-8 lg:px-10">
        <!-- content-component -->
        <app-client-content-component/>
        <!-- about-component -->
        <app-client-about-component/>
        <!-- skills-component -->
        <app-client-skills-component/>
        <!-- experience-component -->
        <app-client-experience-component/>
        <!-- reviews-component -->
        <app-client-review-component/>
        <!-- landing-footer-component -->
    </div>
</div>