<div class="w-full bg-[#f6f7f9]">
    <div class="min-h-screen bg-[#f8f9fb] px-4 py-6 md:px-8 lg:px-10">
        <!-- profile-component -->
        <app-freelancer-profile-component/>
        <!-- about-component -->
        <app-freelancer-about-component/>
        <!-- skills-component -->
        <app-freelancer-skills-component/>
        <!-- active-gig-component -->
        <app-freelancer-active-gigs-component/>
        <!-- experience-component -->
        <app-freelancer-experience-component/>
        <!-- reviews-component -->
        <app-freelancer-review-component/>

    </div>
</div>